*{
    padding:0;
    margin:0;
}

//FONTS//
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap);
//FONTS//

//FONT VAR//
$title-font: 'Amatic SC';
$body-font: 'Open Sans';
//FONT VAR//

@import "./header.scss";

@import "./footer.scss";

.container{
    width: 100%;
    padding-top: 2rem;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 5%;
    background-image: url(https://snipboard.io/cQRKNs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.containerTextTop{
    text-align: center;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
    margin-top: 14%;
}

.containerTextBottom{
    text-align: center;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
}

.categoriaProducto{
    text-align: center;
    font-family: $title-font;
}

.titlesNoHome{
    color: red;
    font-family: $title-font;
    text-align: center;
    letter-spacing: 0.25rem;
}

.homeTitle{
    font-family: $title-font;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.ingredientes{
    color: black;
    padding-left: 10px;
    text-align: center;
    list-style-type: none;
}

.gridMasaMadre{
    display: grid;
    grid-template-columns: 8% 35% 8% 35%;
    gap: 3rem;
    width: 98%;
}

.productos{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: $body-font;
    font-size: small;
    margin-bottom: 5%;

    & img:hover{
        transform: scale(1.5);
        transform-origin: 5%;
    }
}

form{
    font-family: $title-font;
    font-size: x-large;
    font-weight: 600;
    width: 100%;

    & input{
        font-family: $body-font;
        font-size: medium;
    }

    & textarea{
        font-family: $body-font;
        font-size: medium;
    }
}

a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    list-style-type: none;
}


h1{
    font-size: 3rem;
}

p{
    font-family: $body-font;
    margin: 1rem;
}

body{
    background-color: #cff5c1;
}

@import "./queries.scss"