@media only screen and (min-width: 600px) and (max-width: 767px){
    .row{
        text-align: center;
    }
    
    .productos{
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 542px) and (max-width: 599px){
    .homeTitle img {
        max-height: 390px;
        max-width: 347px;
    }

    .row{
        text-align: center;
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;

        &__left{
            padding: 0rem;
        }

        &__right{
            padding: 0rem;
            margin: 0rem;
        }
    }

    .productos{
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 541px){
    .homeTitle img {
        max-height: 390px;
        max-width: 347px;
    }

    .row{
        text-align: center;
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;

        &__left{
            padding: 0rem;
            &__logo{
                margin-top:0rem;
                & h3{
                    margin-bottom: 0;
                }
            }
        }
        
        &__right{
            padding: 0rem;
            margin: 0rem;
            
            &__menu{
                & li{
                    margin-top:0;
                }
            }
        }
    }
    
    .productos{
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 400px){
    .homeTitle img {
        max-height: 350px;
        max-width: 311px;
        padding-top: 0px;
    }

    .row{
        text-align: center;
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;

        &__left{
            padding: 0rem;
            &__logo{
                margin-top:0rem;
                & h3{
                    margin-bottom: 0;
                }
            }
        }
        
        &__right{
            padding: 0rem;
            margin: 0rem;
            
            &__menu{
                & li{
                    margin-top:0;
                }
            }
        }
    }

    
    .productos{
        margin-bottom: 10%;
    }
}